.index-header-wrap {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
}
.index-header {
  position: absolute;
  width: 100%;
  height: 45px;
  padding: 10px 2%;
  overflow: hidden;
  background: rgba(0,0,0,0.4);
  z-index: 100;
}
.index-header .back-wrap {
  position: absolute;
  left: 15px;
  color: #fff;
  line-height: 25px;
  font-size: 18px;
}
.index-header .guard {
  width: 165px;
  margin: 0 auto;
  text-align: center;
  line-height: 25px;
  color: #222;
  font-size: 14px;
  background: #d4efff;
  border-radius: 10px;
}
.current-location {
  position: absolute;
  bottom: -65px;
  left: 50%;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  background: #fff;
  text-align: center;
  -webkit-transform: translate3d(-50%, 0, 0);
}
.location-icon {
  width: 20px;
  padding-top: 8px;
}
.current-location-text {
  text-align: center;
  padding: 9px 0 12px 0;
  font-size: 16px;
  background: #fff;
}
.location-text {
  background: #d4efff;
  border-radius: 15px;
  padding: 6px 15px;
  font-size: 12px;
}
.index-nav {
  background: #fff;
}
.index-nav li {
  float: left;
  width: 25%;
  text-align: center;
}
.index-nav img {
  width: 40px;
  height: 40px;
}
.index-hot-list .item-content {
  padding-left: 15px;
  text-align: center;
}
.index-hot-list .item-content:first-child {
  padding: 0 15px;
}
.list-top {
  margin-top: 10px;
  padding: 15px 0;
  background: #fff;
}
