<ion-view>
  <p class="flag">{{flag}}</p>
  <ion-scroll direction="y"
    overflow-scroll="true"
    class="scroll-list">
    <div class="index-icons">
      <ul class="clearfix">
        <li ng-repeat="item in menu">
          <a ng-href="/buy/others/{{item.key}}">{{item.name}}</a>
        </li>
      </ul>
    </div>
    <div class="button-wrap">
      <a ng-href="/buy/others/food">
        <div class="button">
          下一步
        </div>
      </a>
    </div>
    <div class="u-list">
      <ion-list>
        <ion-item ng-repeat="item in buyRecords">
          <div class="img">
            <img ng-src="http://lifeuxuan.com/{{item.shopHeadImg}}">
            <p class="full-desc">管家12{{item.productUnit}}</p>
          </div>
          <div class="info-wrap">
            <div class="info">
              <span class="full-name">帮用户买了{{item.productName}}，{{item.productName}}送到！</span>
            </div>
            <div class="info">
              <span class="full-desc">
              购买地址：{{item.productName}}，据您{{item.productName}}公里</span>
            </div>
            <div class="info">
              <span>完成时间：{{item.productName}}</span>
            </div>
          </div>
        </ion-item>
      </ion-list>
    </div>
  </ion-scroll>
  <to-top></to-top>
</ion-view>
