.cart-modal-icon
  position absolute
  width 30%
  padding-left 30px
  .icon-cart
    font-size 25px
    line-height 45px
    color $main
  .cart-number-tip
    position absolute
    top 0
    left 45px
    width 20px
    height 20px
    background $main
    border-radius 50px
    color #fff
    font-weight bold
    text-align center
    overflow hidden
    transition all 0.3s
    transform scale(1)
    &.see
      transform scale(2)
  .cart-number-total
    position absolute
    top 12px
    right -50px
    font-size 16px
    width 80px