.order-detail
  .order-detail-table
    width 90%
    margin 5px auto
    padding 5px 0
    background #fff
    tr
      margin 5px 0
      border-top 1px solid #eee
      border-bottom 1px solid #eee
      td
        max-width 200px
        padding 3px
      
  .order-status
    .status-icon
      margin-bottom 10px
      i
        font-size 30px
    .status-dots
      &>div
        position relative
        margin 15px auto 10px
      .dot 
        position absolute
        top 50%
        left 50%
        transform translate(-50%, -50%)
        width 15px
        height 15px
        border-radius 30px
        margin 0 auto
      .dot-line-r,
      .dot-line-l 
        position absolute
        top 50%
        width 50%
        height 5px
        transform translateY(-50%)
      .dot-line-r 
        right 0
      .dot-line-l 
        left 0
        
    .status-action
      margin-top 5px
      button
        width 50%
        margin 0 auto
