.u-index
  .u-header
    position absolute
    width 100%
    height 45px
    padding 10px 2%
    overflow hidden
    background rgba(0,0,0,0.4)
    z-index 100
    .u-guard
      width 165px
      margin 0 auto
      text-align center
      line-height 25px
      color #222
      font-size 14px
      background $bgc
      border-radius 10px
    .u-icon
      position absolute
      top 4px
      right 15px
      line-height 40px
      i
        color #fff
        font-size 24px
        
  .u-slider
    height 220px
    img
      width 100%

  .u-location
    position relative
    background #fff
    .u-icon-wrap
      position absolute
      top -45px
      left 50%
      -webkit-transform translate3d(-50%, 0, 0)
      height 50px
      overflow hidden
    .u-link
      display block
      width 100px
      height 100px
      border-radius 100px
      background #fff
      text-align center
      .u-icon
        width 20px
        padding-top 10px
    .u-text-wrap
      display block
      width 200px
      margin 0 auto
      text-align center
      padding 9px 0 12px 0
      font-size 16px
      background #fff
      .u-text
        background #d4efff
        border-radius 15px
        padding 6px 15px
        font-size 12px

  .u-icon-nav
    background #fff
    padding-bottom 10px
    li
      float left
      width 25%
      text-align center
    img
      width 40px
      height 40px
    .coming-soon
      position absolute
      top 17px
      left 50%
      transform translateX(-50%)
      font-size 10px
      width 50px

  .u-index-hot-list
    .u-item-content
      padding-left 15px
      text-align center
      &:first-child
        padding 0 15px
  
  .divider
      text-align center
      font-size 18px
      background #fff
      overflow hidden
      
  .u-hot-list
    white-space nowrap
    width auto
    text-align center
    .u-item
      display inline-block
      float none
      margin 0
      padding-top 15px
      border none
    img
        display block
        width 100px
        height 75px
        margin 0 auto
        border-radius 10px
        border solid 1px #ccc
    .u-name
        font-size 12px
        overflow hidden
        text-overflow ellipsis
    .u-price
        color #619de5
        font-size 13px
        text-indent -3px










