<ion-view view-title="U选到家">
  <ion-content class="u-index"
    delegate-handle="mainScroll">
    <section>
      <div class="u-header">
        <e-guard class="u-guard"></e-guard>
        <a class="u-icon"
          href="/search">
          <i class="icon ion-ios-search placeholder-icon"></i>
        </a>
      </div>
      <ion-slide-box class="u-slider"
        slide-interval="3500"
        loop="true"
        does-continue="true"
        auto-play="true"
        show-pager="false">
        <ion-slide ng-repeat="banner in banners">
          <img ng-src="http://lifeuxuan.com/{{banner}}">
        </ion-slide>
      </ion-slide-box>
      <div class="u-location">
        <div class="u-icon-wrap">
          <a class="u-link"
            href="/location">
            <img class="u-icon"
              src="img/location.svg">
          </a>
        </div>
        <div class="u-text-wrap">
          <a href="/location">
            <span class="u-text">{{location.text}}</span>
          </a>
        </div>
      </div>
      <div class="u-icon-nav">
        <ul class="clearfix">
          <li>
            <a href="/shopList"><img src="img/fruit.svg">
              <p>生鲜水果</p>
            </a>
          </li>
          <li>
            <a href="/washList"><img src="img/wash.svg">
              <p>洗衣洗鞋</p>
            </a>
          </li>
          <li class="coming-soon-li">
            <a href=""><img src="img/star.png">
              <p class="rel"><span>咖啡饮品</span>
                <span class="coming-soon">即将上线</span></p>
            </a>
          </li>
          <li class="coming-soon-li">
            <a href=""><img src="img/help-buy.svg">
              <p class="rel"><span>生活代购</span>
                <span class="coming-soon">即将上线</span></p>
            </a>
          </li>
        </ul>
      </div>
    </section>
    <section>
      <div class="u-hot-list"
        ng-show="location.isOut || sessions.length <= 0">
        <div class="divider">不在服务区域内</div>
      </div>
      <div class="u-hot-list"
        ng-show="!location.isOut && sessions.length > 0">
        <div class="divider">U选爆款</div>
        <ion-scroll direction="x"
          zooming="false"
          delegate-handle="horizontal"
          horizontal-scroll-fix="mainScroll"
          scrollbar-x="false">
          <ion-list class="single goods list clearfix">
            <ion-item class="u-item"
              ng-repeat="session in sessions"
              ng-href="{{session.href}}">
              <img ng-src="http://lifeuxuan.com/{{session.productHeadImg}}">
              <span class="u-name">{{session.productName}}</span>
              <p class="u-price">
                ￥{{session.productPrice/100}}
                <span>/{{session.productMeasure || session.productUnit}}</span>
              </p>
            </ion-item>
          </ion-list>
        </ion-scroll>
      </div>
    </section>
    <section>
      <div class="u-list"
        ng-show="!location.isOut && shops.length > 0">
        <div class="divider">附近水果店</div>
        <ion-list>
          <ion-item ng-repeat="shop in shops"
            href="/shop/{{shop.shopId}}">
            <div class="img">
              <img ng-src="http://lifeuxuan.com/{{shop.shopHeadImg}}">
            </div>
            <div class="info-wrap">
              <div class="info">
                <span class="name">{{shop.shopName}}</span>
              </div>
              <div class="info">
                <span>月售{{shop.shopMonthSaleVolume}}单</span>
                <span class="distance">
                <i class="icon ion-location placeholder-icon"></i>
                {{shop.shopDistance}}米
              </span>
              </div>
              <div class="info">
                <span>起送￥{{shop.shopStartMoney}}</span>
                <span class="send-divide">|</span>
                <span>配送￥{{shop.shopDeliveryFee}}</span>
              </div>
            </div>
          </ion-item>
        </ion-list>
      </div>
    </section>
    <section>
      <div class="u-list"
        ng-show="!location.isOut && washShops.length > 0">
        <div class="divider">附近洗衣店</div>
        <ion-list>
          <ion-item ng-repeat="washShop in washShops"
            href="/washSingle/{{washShop.shopId}}">
            <div class="img">
              <img ng-src="http://lifeuxuan.com/{{washShop.shopHeadImg}}">
            </div>
            <div class="info-wrap">
              <div class="info">
                <span class="name">{{washShop.shopName}}</span>
              </div>
              <div class="info">
                <span>月售{{washShop.shopMonthSaleVolume}}单</span>
                <span class="distance">
                <i class="icon ion-location placeholder-icon"></i>
                {{washShop.shopDistance}}米
              </span>
              </div>
              <div class="info">
                <span>
                配送满{{washShop.shopStartMoney}}元免运费，不满{{washShop.shopStartMoney}}收{{washShop.shopDeliveryFee}}元运费</span>
              </div>
            </div>
          </ion-item>
        </ion-list>
      </div>
    </section>
    <section>
      <div class="u-list"
        ng-show="!location.isOut && goods.length > 0">
        <div class="divider">U选水果</div>
        <ion-list>
          <ion-item ng-repeat="good in goods"
            href="/sessions/{{good.productId}}">
            <div class="img">
              <img ng-src="http://lifeuxuan.com/{{good.productHeadImg}}">
            </div>
            <div class="info-wrap">
              <div class="info">
                <span class="name">{{good.productName}}</span>
              </div>
              <div class="info">
                <span>{{good.productDescription}}</span>
              </div>
              <div class="info">
                <span class="price">
                ￥{{good.productPrice/100}}
                <span>/{{(good.productMeasure)}}</span>
              </div>
            </div>
            <div class="top">
              <div class="top-header">top</div>
              <div class="top-body">{{$index + 1}}</div>
            </div>
          </ion-item>
        </ion-list>
      </div>
    </section>
    <section>
      <div class="u-list"
        ng-show="!location.isOut && goods.length > 0">
        <div class="divider">U选洗衣</div>
        <ion-list>
          <ion-item ng-repeat="washGood in washShopsRank"
            href="/washSingle/{{washGood.shopId}}">
            <div>
              <img class="img"
                ng-src="http://lifeuxuan.com/{{washGood.productHeadImg}}">
            </div>
            <div class="info-wrap info">
              <div class="info1 name">
                <span class="name">{{washGood.productName}}</span>
              </div>
              <div class="info2">
                <span>{{washGood.productDescription}}</span> </div>
              <div class="info3">
                <span class="price">￥{{washGood.productPrice/100}}/{{washGood.productUnit}}</span>
              </div>
            </div>
            <div class="top">
              <div class="top-header">top</div>
              <div class="top-body">{{$index + 1}}</div>
            </div>
          </ion-item>
        </ion-list>
      </div>
    </section>
  </ion-content>
</ion-view>
