<i class="icon ion-ios-cart list-cart" ng-click="addCart($event, good)" ng-hide="isHideAddCart"></i>
<div class="plus-wrap add-cart-plus-minus fr" ng-show="isHideAddCart">
    <div class="button-assertive add-cart-plus cart-action" ng-click="removeCart(good)">
        <i class="icon ion-minus-round"></i>
    </div>
    <div class="cart-number">{{singleNumber}}</div>
    <div class="button-assertive add-cart-plus cart-action" ng-click="addCart($event, good)">
        <i class="icon ion-plus-round"></i>
    </div>
</div>
