<section class="order-time">
  <div class="order-receiver-date">
    <label>
      <span ng-if="type == 'furit'">收货时间</span>
      <span ng-if="type == 'wash'">预约时间</span>
      <select class="data-pick" ng-model="tp.preferDate" ng-options='option.value as option.name for option in tp.dates' ng-change="changeDate(tp.preferDate)"></select>
    </label>
  </div>
  <div class="order-receiver-time">
    <label>
      <span>周{{tp.week}}</span>
      <select class="data-pick" ng-model="tp.preferTime" ng-options='option.value as option.name for option in tp.times' ng-change="changeTime(tp.preferTime)">
      </select>
    </label>
  </div>
</section>
