.u-hot-list
  white-space nowrap
  width auto
  text-align center
  .u-item
    display inline-block
    float none
    margin 0
    padding-top 15px
    border none
  img
    display block
    width 100px
    height 75px
    margin 0 auto
    border-radius 10px
    border solid 1px #ccc
  .u-name
    font-size 12px
    overflow hidden
    text-overflow ellipsis
  .u-price
    color #619de5
    font-size 13px
    text-indent -3px