<ion-view class="create-order"
  view-title="U选到家">
  <ion-content class="singePage cart-page has-footer">
    <section>
      <u-address address="address"></u-address>
    </section>
    <section>
      <u-time-pick send-date="sendDate"
        send-time="sendTime"></u-time-pick>
    </section>
    <section>
      <guard-pick guard="guard"></guard-pick>
    </section>
    <section>
      <cart-item-list></cart-item-list>
    </section>
  </ion-content>
  <ion-footer-bar class="order-cart">
    <label class="pick-all">
      <input type="checkbox"
        ng-model="isAllChecked"
        ng-click="pickAll()">
      <span>全选</span>
    </label>
    <div class="total-price">
      <span>总价</span>
      <span>￥{{totalMoney/100}}</span>
    </div>
    <div class="button confirm-cart"
      ng-click="confirmOrder()"
      ng-class="{'disable-pay': orderButton.isDisabled}">{{payButton}}</div>
  </ion-footer-bar>
</ion-view>
