.create-order
  padding 0
  section + section
    padding 0
  .pick-all
    display flex
    width 20%
    justify-content center
    align-items center
    input
      margin-right 5px
  .total-price
    display flex
    width 40%
    align-items center
    color #619de5
    font-size 16px
    font-weight bold

  .confirm-cart
    position relative
    right 0
    height 100%
    width 40%
    font-weight bold
    border-radius 0
    line-height 40px
    background #619de5
    color #fff