<ion-view class="create-order"
  view-title="U选管家">
  <ion-content class="singePage cart-page has-footer">
    <u-address address="address"
      type="type"></u-address>
    <u-time-pick ng-if="type !== 'wash-order'"
      send-date="sendDate"
      send-time="sendTime"></u-time-pick>
    <guard-pick ng-if="type !== 'wash-order'"
      guard="guard"></guard-pick>
    <cart-item-list ng-if="type !== 'wash'"></cart-item-list>
    <section>
      <textarea cols="30"
        rows="10"
        ng-model="tip">
      </textarea>
    </section>
  </ion-content>
  <ion-footer-bar class="order-cart">
    <label class="pick-all">
      <input type="checkbox"
        ng-model="isAllChecked"
        ng-click="pickAll()">
      <span>全选</span>
    </label>
    <div class="total-price">
      <span>总价</span>
      <span>￥{{money.total/100 || 0}}</span>
    </div>
    <div class="button confirm-cart"
      ng-click="confirmOrder()"
      ng-class="{'disable-pay': orderButton.isDisabled}">{{payButton}}</div>
  </ion-footer-bar>
</ion-view>
