<ion-view view-title="U选到家" ng-controller="guardOrderDetailCtrl">
  <div class="index-header">
    <div go-back></div>
  </div>
  <ion-content class="has-header" style="background: #fff">
    <p class="text-center" style="margin: 0;padding: 5px 0;background: #f2f7fa">订单信息</p>
    <ion-list ng-show="!status.noOrder">
      <ion-item class="list-order-list">
        <div class="clearfix">
          <p class="fl bl">客户订单号:{{order.customerOrderId}}</p>
          <p class="fl bl">管家订单号:{{order.orderId}}</p>
          <p class="fl bl" ng-if="type == 17003">(送回)</p>
          <p class="fr order-popo">{{orderTypeObj[order.orderType]}}</p>
          <!-- <p class="fr">{{order.orderStatus}}</p> -->
        </div>
        <div class="clearfix">
          <p class="fl">服务费:{{order.serviceFee}}</p>
          <p class="fr">{{order.orderTime * 1000 | date : 'yyyy-MM-dd' }}</p>
        </div>
        <div class="clearfix" style="color: red">
          <div class="w40 fl ">
            <p class="fl" style="color: red">预约时间:</p>
            <p class="fr text-center" style="color: red">
              {{order.reserveTime[0] * 1000 | date : 'MM-dd'}}
            </p>
          </div>
          <div class="w10 fl text-center">|</div>
          <div class="w50 fl text-center ">
            <p class="fl" style="color: red">{{toWeekCn(order.reserveTime[0] * 1000)}}</p>
            <p class="fr" style="color: red">{{order.reserveTime[1] * 1000 | date : 'HH:mm'}}</p>
            <p class="fr" style="color: red">{{order.reserveTime[0] * 1000 | date : 'HH:mm'}}-</p>
          </div>
        </div>
        <div class="clearfix">
          <p class="fl">收件人:{{order.rcvName}}</p>
          <p class="fr"><a class="bl" href="tel:{{order.rcvPhone}}">收货电话:{{order.rcvPhone}}</a></p>
        </div>
        <p>收货地址:{{order.rcvAddress}}</p>
        <p>商家名称:{{order.shopName}}</p>
        <p>商家地址:{{order.shopAddress}}</p>
        <div class="guard-order-button is-pay-order clearfix">
          <button class="button button-assertive button-small button-right" ng-show="order.isRedShow" ng-click="clickRed($event, order)">{{order.redText}}</button>
          <button class="button button-calm button-small button-right" ng-show="order.isBlueShow" ng-click="clickBlue($event, order)">{{order.blueText}}</button>
        </div>
        </div>
      </ion-item>
    </ion-list>
    <div ng-if="type == 17001">
      <p class="text-center" style="margin: 0;padding: 5px 0;background: #f2f7fa">商品列表</p>
      <ion-scroll direction="y" overflow-scroll="true">
        <ion-list class=" index-list ">
          <div>
            <ion-item style="border-bottom: none; ">
              <div class="row" ng-repeat="good in order.productsList " style="border-bottom: solid 1px #ddd;margin-bottom:10px ">
                <div class="col-25 " style="margin-right: 10px ">
                  <div class="shop-img ">
                    <img class="single-good-img " ng-src="http://lifeuxuan.com/{{good.productHeadImg}} ">
                  </div>
                </div>
                <div class="col-60 ">
                  <p>{{good.productName}}</p>
                  <p>{{good.description}}</p>
                  <p class="fr ">x{{good.productQuantity}}</p>
                  <p class="bl ">￥{{good.productPrice/100 }}<span style="font-size: 10px">/{{(good.productMeasure)}}<span></p>
                </div>
              </div>
            </ion-item>
          </div>
        </ion-list>
      </ion-scroll>
    </div>
    <div ng-if="type == 17002 || type == 17003">
      <div>
        <!-- <div class="row">
          <div class="col" style="color: #33CC99">洗衣订单详情</div>
        </div> -->
        <div class="row" ng-if="!isGet">
          <div class="col-offset-10">请提前与客户联系，准时到达订单所显示地址进行取衣计价</div>
        </div>
      </div>
      <div ng-if="isGet">
        <p class="text-center " style="margin: 0;padding: 5px 0;background: #f2f7fa ">洗衣订单详情</p>
        <ion-scroll direction="y " overflow-scroll="true ">
          <ion-list class=" index-list ">
            <div>
              <ion-item style="border-bottom: none; ">
                <div class="row " ng-repeat="good in order.productsList " style="border-bottom: solid 1px #ddd;margin-bottom:10px ">
                  <div class="col-25 " style="margin-right: 10px ">
                    <div class="shop-img ">
                      <img class="single-good-img " ng-src="http://lifeuxuan.com/{{good.productHeadImg}} ">
                    </div>
                  </div>
                  <div class="col-60 ">
                    <p>{{good.productName}}</p>
                    <p>{{good.description}}</p>
                    <p class="fr ">x{{good.productQuantity}}</p>
                    <p class="bl ">￥{{good.productPrice/100 }}<span style="font-size: 10px">/{{(good.productMeasure)}}<span></p>
                  </div>
                </div>
              </ion-item>
            </div>
          </ion-list>
        </ion-scroll>
      </div>
    </div>
    <div class="row">
      <div class="col-offset-66" style="color: #33CC99;text-align: right;">总计：{{order.totalCount}}件/{{order.money/100}}元</div>
    </div>
  </ion-content>
</ion-view>
