.phone-check
  padding 0 15px
  .input-section
    input, .button
      padding-left 10px
      width 100%
      margin-bottom 10px
    .check-code, .check-action
      float left
      width 48%
    .check-action
      padding-left 15px
  .check-button
    display block
    width 80%
    margin 10px auto
    