.pic-modal
    display none
    position absolute
    top 0
    bottom 0
    right 0
    left 0
    z-index 100
    background rgba(25, 25, 25, 0.6)
    padding 5%

.pick-all
    display flex
    width 20%
    justify-content center
    align-items center
    input
        margin-right 5px

.total-price
    display flex
    width 40%
    align-items center
    color #619de5
    font-size 16px
    font-weight bold

.confirm-order
    bottom 49px
    .total-price
        color #ef473a
        padding-left 20px

.data-pick
    border 1px solid #eee

.order-cart-shop
    position relative
    label
        & > div
            height 60px
            margin-left 3px
    .item
        padding 15px
        border none
    & > .item-checkbox
        border-bottom solid 1px #ddd
    .check-good
        line-height 60px
    .item-content
        height 100%
        padding-left 40px
    .calculate-money
        position absolute
        right 0
        width 80px

.cart-detail-img
    width 35px
    height 30px
    border-radius 10px

.cart-shop-name
    position absolute
    right 80px
    left 80px
    line-height 60px
    overflow hidden
    text-overflow ellipsis

.order-cart-goods
    padding 5px 0 0 8px
    .item
        position relative
        padding 5px
        border none
    label
        & > div
            margin-left 5px
    .item-content
        padding-left 60px
    .check-good
        line-height 35px

.cart-goods-info
    position absolute
    right 80px
    left 70px
    overflow hidden
    text-overflow ellipsis
    p
        font-size 12px

.cart-goods-name
    font-weight bold

.cart-goods-action-wrap
    margin-top 12px

.order-cart-action
    position absolute
    top 0
    right 0

.calculate-money
    .totalMoney
        display block
        font-size 16px
        color #619de5
        font-weight bold
        text-align right
    .sendPrice
        font-size 12px
        text-align right

.order-detail-table
    width 90%
    margin 0 auto
    background #fff
    tr
        margin 5px 0
        border-top 1px solid #eee
        border-bottom 1px solid #eee

.order-detail-name
    padding 2px 0

.order-detail-list-name
    padding 0 15px

.order-detail-list
    .list
        padding 0 20px
    img
        margin 0 20px 10px 0

.order-total
    p
        font-size 18px
        color #fff
        margin 0
        line-height 65px
        padding-left 30px

.not-reach
    .sendStartPrice
        color #ef473a
    .totalMoney
        color #666

.go-cart,
.order-cart .confirm-cart
    position relative
    right 0
    height 100%
    width 40%
    font-weight bold
    border-radius 0
    line-height 40px
    background #619de5
    color #fff

.shopping-cart-bar
    .go-cart
        line-height 42px
        font-size 18px
        color #fff
        background #619de5

.disable-pay
    background #f2f7fa !important

.guard-header

.shop-detail
    height 150px
    padding 55px 0px 5px 20px
    border-bottom solid #eee 10px
    .shop-img
        margin 5px 0
    .name
        font-size 16px

.shop-detail .item-content,
.rank .item-content
    margin 0 auto 10px
    border 1px solid #ddd

.detail-info-wrap
    margin-left 80px
    font-size 12px

.detail-list-item
    padding 10px
    border 1px solid #ddd
    border-top none
    img
        width 75px
        height 60px
        border-radius 20px

.detail-class-item
    padding 6px 0
    background #f2f7fa
    &.show
        background #fff
        
a
    text-decoration none
    color #000

.padding-top55
    padding-top 55px

.v-content
    &.scroll-content
        display table !important
        width 100% !important
        height 100% !important
        background #eee
    .scroll
        display table-cell
        vertical-align middle
        text-align center

.wide-as-needed
    overflow auto
    overflow-x scroll
    overflow-y hidden
    white-space nowrap

.h-li
    display inline-block

.h-ul
    display inline-block

.bottom-bar
    position absolute
    bottom 0px
    width 100%
    z-index 100
    background #fff

.u-flyer
    display block
    width 50px
    height 50px
    border-radius 50px
    position fixed
    z-index 9999
    color #619de5

.e-content
    margin 35px 0 65px 0

.backE
    background #f2f7fa

.pane
    background-color #f2f7fa

.index-header
    .item
        float left
        padding 0
        height 40px
        border none
        background transparent

.item-select
    &:after
        top 52%

.distract-select
    width 100px

.header-icon
    position absolute
    top 4px
    right 15px
    line-height 40px
    i
        color #fff
        font-size 24px
    &.header-location
        left 15px
        right auto

.index-slide
    height 220px
    img
        width 100%
        height 100%
    .box
        height 100%
    h1
        height 100%
        text-align center
        line-height 90px

.icon-wrap
    display inline-block
    width 40px
    height 40px
    border 2px #cecbd1 solid
    border-radius 75px
    i
        display inline-block
        margin-top 8px
        font-size 20px

.index-nav
    & > div
        float left
        height 40px
        width 49%
        text-align center
        font-size 16px
    p
        padding-top 5px
        font-size 13px
    a
        color #090909

.fruit
    i
        color #f9c8fc

.washing
    i
        color #efdeff

.divider
    text-align center
    font-size 18px
    background #fff
    overflow hidden

.index-list
    background #f0f0f0

.index-list-item
    position relative
    padding 0
    border none
    img
        float left
        width 100px
        height 75px
    .name
        font-size 12px
        overflow hidden
        text-overflow ellipsis
    .price
        color #619de5
        font-size 15px
        text-indent -3px

.good-info-wrap
    width 95%

.shop
    .good-info-wrap
        li
            float left
            font-size 12px
            width 25%
            padding-right 8%
            &:nth-child(3)
                border-right 1px solid
            &:nth-child(even)
                padding-left 8%
    .slogen
        font-size 12px
        color #888
        margin 0 10px
    .name
        font-size 14px

.shop .item-content,
.rank .item-content
    padding 0
    width 95%
    margin 0 auto 10px
    border-bottom 1px solid #ddd

.single
    .list
        white-space nowrap
        width auto
    .index-list-item
        display inline-block
        float none
        margin 0
        padding-top 15px
        border none
    img
        display block
        float none
        margin 0 auto
        border-radius 10px
        border solid 1px #ccc
    .price
        font-size 13px

.rank
    img
        margin 10px 20px 10px 10px
    .name
        margin 0
        margin-top 10px
        font-size 16px
        font-weight bold
    .description
        display block
        font-size 14px
    .price
        margin-top 4px
        font-size 18px

.list-cart
    position absolute
    bottom 10px
    right 20px
    font-size 35px

p
    &.cartNumber
        position absolute
        top -5px
        right -10px
        background #f00
        color #fff
        width 20px
        text-align center
        height 20px
        font-weight bold
        line-height 20px
        border-radius 20px

.goods-list-item
    margin-left 90px
    .name
        font-size 14px
    .description
        font-size 12px

.good-img
    height 200px
    overflow auto
    img
        width 100%
        min-height 100%

.good-main-info
    position relative
    padding 5px
    background #fff
    .good-name
        font-size 18px
        color #000
    .good-descirbe
        padding 0px 10px
    .good-price
        height 30px
        font-size 18px
        line-height 30px
        margin 10px 5px
        color #619de5

.good-shop
    margin 8px 0
    padding 5px
    background #fff
    .shop-part
        position relative
        width 50%
        height 40px
        float left
    .shop-address
        padding 5px 15px 0
        clear both
    i
        position absolute
        left 15px
        font-size 30px
        color #619de5
        line-height 40px
    .shop-name
        display table-cell
        vertical-align middle
        height 40px
        width 155px
        padding-left 40px
        text-align center
        overflow hidden
        text-overflow ellipsis
    .shop-icon
        padding 0 10px
        color #619de5
    .shop-yingye
        border-left solid 1px #333
    .shop-time
        margin 0 auto
        text-align center
        p
            margin 0

.icon-text
    position absolute
    width 50px
    top 26px
    left 16px
    font-size 10px

.good-more-info
    min-height 500px
    .item
        margin-bottom 5px
    img
        width 100%
        height auto

.shopping-cart-bar
    background #f2f7fa

.cart-modal
    background rgba(66, 66, 66, 0.4)
    &.ng-enter-active
        transform translateY(-44px)

.cart-modal-list
    position absolute
    bottom 0
    width 100%
    padding 10px
    background #fff

.cart-good-info
    display inline-block
    max-width 60%
    overflow hidden
    text-overflow ellipsis

.cart-price
    display inline-block
    font-size 12px

.cart-operate
    display inline-block
    float right

.cart-icon
    display inline-block
    width 25px
    height 25px
    line-height 23px
    text-align center
    border 2px solid
    border-radius 25px

.cart-quantity
    margin 0 5px
    font-size 16px

.order-status
    text-align center
    background #ef473a
    h1
        margin-top 50%
        font-size 30px
        font-weight bold
        color #fff
    a
        display inline-block
        font-size 24px
        font-weight bold
        margin-top 20px
        overflow hidden
        color #fff
        height 40px

img
    &.single-shop
        width 150px
        height 80px

.go-wash-cart
    width 100%

.v-content
    input
        border 1px solid #ddd

.v-center
    padding 0 20%
    margin-top -30%

.check-phone-number
    width 100%
    margin-bottom 10px

.check-action-wrap
    position relative

.check-action
    position absolute
    right 0
    top 0
    height 34px
    line-height 34px
    width 45%
    padding 0
    font-weight bold

.check-code
    width 50%
    
.has-detail-header
    top 150px

.shopping-cart-bar-wash
    background-color #ef473a
    .button
        font-size 20px
        margin 0
        height 44px
        line-height 44px
        background #619de5

.wash-class
    width 20%
    background #eee

.wash-single
    width 80%

.wash-tag
    text-align center
    padding 5px 0

.guard-order-button
    text-align right
    margin-top 10px
    button
        margin-left 10px