.u-buy
  .flex-wrap
    display flex
    flex-direction column
    height 100%
    .buy-input
      margin 60px 10px 15px
    .buy-list
      flex 1
      overflow hidden
      .buy-list-scroll
        height 100%
        
  .index-icons
    text-align center
    margin 10px
    border-radius 20px
    background #fff
    padding 15px 5px
    li
      float left
      width 25%
      height 35px
      
  .button-wrap
    margin 5% 15%
    .button
      width 100%
      margin 0
      font-size 16px
      color #fff
      background $main
      