.shopping-cart-bar
  width 100%
  .go-cart-link
    display block
    float right
    width 40%
    &.block
      width 100%
    .button
      width 100%
      margin 0
      height 44px
      font-size 20px
      line-height 44px
      color #fff
      background $main