.shopping-cart-bar
  width 100%
  .go-cart-link
    display block
    float right
    width 40%
    &.block
      width 100%
    .button
      width 100%
      margin 0
      height 44px
      font-size 20px
      line-height 44px
      color #fff
      background $main
      
.cart-modal-icon
  position absolute
  width 30%
  padding-left 30px
  .icon-cart
    font-size 25px
    line-height 45px
    color $main
  .cart-number-tip
    position absolute
    top 0
    left 45px
    width 20px
    height 20px
    background $main
    border-radius 50px
    color #fff
    font-weight bold
    text-align center
    overflow hidden
  .cart-number-total
    position absolute
    top 12px
    right -50px
    font-size 16px
    width 80px
    
.add-cart
  width 100px
  text-align center
  .text-button
    color #fff
    background $main
  .icon-button
    color $main
    font-size 30px
  .add-icon, .remove-icon, .cart-number
    display inline-block
    width 25px
    height 25px
    line-height 26px
    text-align center
    border-radius 30px
  .add-icon, .remove-icon
    color #fff
    background $main
  .cart-number
    width 40px
    font-size 18px