<ion-view class="create-order" view-title="U选到家">
  <!-- <div class="index-header" ng-show="from.bool">
        <div go-back></div>
    </div>
    <ion-content ng-class="{'e-content':from.bool}"> -->
  <ion-content class="singePage cart-page">
    <section class="order-address" ng-click="getAddress()">
      <div class="order-receiver-name">
        <label>
          <span class="like-input">{{order.receiverName}}</span>
        </label>
      </div>
      <div class="order-receiver-phone">
        <label>
          <span class="like-input">{{order.receiverPhone}}</span>
        </label>
      </div>
      <div class="order-receiver-address">
        <span class="fromWeChat fr">从微信获取</span>
        <label>
          <p class="like-textarea">{{order.receiverAddress}}</p>
        </label>
      </div>
    </section>
    <section class="order-time">
      <div class="order-receiver-date">
        <label>
          <span>收货时间</span>
          <select class="data-pick" ng-model="order.preferTimeDay" ng-options='option.value as option.name for option in order.orderDate' ng-change="changeDate($index)"></select>
        </label>
      </div>
      <div class="order-receiver-time">
        <label>
          <span>周{{date.week}}</span>
          <select class="data-pick" ng-model="order.preferTimeTime" ng-options='option.value as option.name for option in order.orderTime'>
          </select>
        </label>
      </div>
    </section>
    <section class="order-server">
      <span>选择管家</span>
      <label ng-repeat="eG in eGuard">
        <input type="radio" name="eGuard" ng-checked="$first" value={{eG.id}} ng-model="order.guard">
        <span>{{eG.name}}</span>
      </label>
    </section>
  </ion-content>
  <ion-footer-bar>
    <div class="bottom-bar shopping-cart-bar shopping-cart-bar-wash">
      <div class="button button-assertive button-full go-wash-cart" ng-click="confirmOrder()">开始预约</div>
    </div>
  </ion-footer-bar>
</ion-view>
