<ion-view view-title="U选到家" class=" cart-bottom">
  <div class="index-header">
    <div go-back></div>
    <p e-guard></p>
    <label class="header-search"> <i class="icon ion-ios-search placeholder-icon"></i> </label>
  </div>
  <div class="shop-detail"> <img class="shop-img" ng-src="http://lifeuxuan.com/{{shop.shopHeadImg}}">
    <ul class="detail-info-wrap">
      <li class="name">{{shop.shopName}}</li>
      <li class="">营业时间：{{shop.shopOpenTime}}--{{shop.shopCloseTime}}</li>
      <!-- <li class="">月售{{shop.shopMonthSaleVolume}}单</li> -->
      <li class="">门店地址：{{shop.shopAddress}}</li>
      <li class="">满{{shop.shopFreeDeliveryMoney}}元免运费，不满{{shop.shopFreeDeliveryMoney}}元收{{shop.shopDeliveryFee}}元运费</li>
    </ul>
    <div class="slogen">{{shop.shopSlogen}}</div>
  </div>
  <ion-content class="has-header has-detail-header" scroll="false">
    <ion-scroll direction="y" overflow-scroll="true" class="height100 wash-class fl">
      <ion-list class="index-list clearfix">
        <ion-item ng-class="{'show': $index==currentIndex}" class="index-list-item detail-list-item detail-class-item" ng-repeat="class in classes">
          <p class="name wash-tag" ng-click="scrollTo(class.classifyId, $index)">{{class.classifyName}}</p>
        </ion-item>
      </ion-list>
    </ion-scroll>
    <ion-scroll direction="y" overflow-scroll="true" delegate-handle="wash-scroll" class="height100 wash-single fl" on-scroll="getScrollPosition()">
      <ion-list class="index-list clearfix">
        <ion-item class="index-list-item detail-list-item" ng-repeat="good in goods" ng-class="good.productClassifyId">
          <a ng-href="/sessions/{{good.productId}}"><img ng-src="http://lifeuxuan.com/{{good.productHeadImg}}"></a>
          <div class="goods-list-item">
            <p class="name">{{good.productName}}</p>
            <p class="description">{{good.description}}</p>
            <p class="price">￥{{good.productPrice/100 }}/{{good.productUnit}}</p>
          </div>
          <div class="button-cart-wrap" single-cart></div>
        </ion-item>
      </ion-list>
    </ion-scroll>
  </ion-content>
  <ion-footer-bar>
    <div class="bottom-bar shopping-cart-bar shopping-cart-bar-wash">
      <div class="bottom-bar shopping-cart-bar">
        <div cart-modal-icon></div>
        <a ng-href="/washCart/{{shop.shopId}}">
          <div class="button button-assertive go-cart fr">选好了</div>
        </a>
      </div>
    </div>
  </ion-footer-bar>
</ion-view>
