<ion-view class="create-order" view-title="U选到家">
  <ion-content class="singePage cart-page">
    <section class="order-address" ng-click="getAddress()">
      <div class="order-receiver-name">
        <label>
          <span class="like-input">{{order.receiverName}}</span>
        </label>
      </div>
      <div class="order-receiver-phone">
        <label>
          <span class="like-input">{{order.receiverPhone}}</span>
        </label>
      </div>
      <div class="order-receiver-address">
        <span class="fromWeChat fr">从微信获取</span>
        <label>
          <p class="like-textarea">{{order.receiverAddress}}</p>
        </label>
      </div>
    </section>
    <section uxuan-time user-prefer-time="userPreferTime" ></section>
    <section class="order-server">
      <span>选择管家</span>
      <label ng-repeat="eG in eGuard">
        <input type="radio" name="eGuard" ng-checked="$first" value={{eG.id}} ng-model="order.guard">
        <span>{{eG.name}}</span>
      </label>
    </section>
  </ion-content>
  <ion-footer-bar>
    <div class="bottom-bar shopping-cart-bar shopping-cart-bar-wash">
      <div class="button button-assertive button-full go-wash-cart" ng-click="confirmOrder()">开始预约</div>
    </div>
  </ion-footer-bar>
</ion-view>
