<div class="cart-item-list">
  <ion-list class="u-list">
    <ion-item ng-repeat="shop in carts"
      ng-class="{'not-reach': !shop.isReachStartPrice}">
      <div class="shop-item clearfix">
        <label>
          <input type="checkbox"
            ng-model="shop.isChecked"
            ng-click="pickShop($event, shop)">
        </label>
        <div class="img">
          <img ng-src="http://lifeuxuan.com/{{shop.shopInfo.shopPicUrl}}">
        </div>
        <div class="name">
          <span>{{shop.shopInfo.shopName}}</span>
        </div>
        <div class="calculate-money">
          <span class="totalMoney">￥{{shop.singleCartTotalNumber/100|number:2}}</span>
          <p ng-if="type == 'furit'">含运费{{shop.shopInfo.sendPrice}}元</p>
          <p class="sendStartPrice"
            ng-hide="shop.isReachStartPrice"
            ng-class="{'danger': !isReachStartPrice}"
            ng-if="type == 'furit'">起送价{{shop.shopInfo.sendStartPrice}}元</p>
          <p ng-hide="shop.isReachStartPrice"
            ng-if="type == 'wash'">含运费{{shop.shopInfo.sendPrice}}元</p>
          <p class="sendStartPrice"
            ng-hide="shop.isReachStartPrice"
            ng-class="{'danger': !isReachStartPrice}"
            ng-if="type == 'wash'">满{{shop.shopInfo.sendStartPrice}}元免运费</p>
        </div>
      </div>
      <div class="u-list">
        <ion-list>
          <ion-item ng-repeat="good in shop.productsList">
            <div class="shop-item good-item clearfix">
              <label>
                <input type="checkbox"
                  ng-model="good.isChecked"
                  ng-click="pickShopGood($event, good, shop)">
              </label>
              <div class="img">
                <img class="cart-detail-img"
                  ng-src="http://lifeuxuan.com/{{good.productHeadImg}}">
              </div>
              <div class="name">
                <p>{{good.productName}}</p>
                <p>￥{{good.productPrice/100}}</p>
              </div>
            </div>
            <!--   <div single-cart
            class="order-cart-action"></div> -->
        </ion-list>
      </div>
      </ion-item>
  </ion-list>
</div>
