.cart-item-list
  .shop-item
    position relative
    &>div, label
      float left
      height 60px
    label
      width 30px
      display block
      line-height 60px
      text-align center
    .name
      padding 10px 15px
    .calculate-money
      position absolute
      top 0
      right 10px
      color $main
      p
        text-align right
  .good-item
    &>div, label
      height 30px
    label
      line-height 30px
    .img
      img
        height 30px
        width 35px
    .name
      padding 0