<section>
  <div class="guard-pick">
    <span>选择管家</span>
    <div class="row">
      <div ng-repeat="guardItem in guardList"
        class="text-center col-33">
        <img class="guard-header"
          ng-src="http://www.lifeuxuan.com/{{guardItem.eguardHeaderImg}}"
          big-pic>
        <label ng-click="pickGuard(guardItem)">
          <input type="radio"
            name="guarduard"
            ng-checked="$first"
            value={{guardItem.eguardId}}
            ng-model="eguardId">
          <span>{{guardItem.eguardName}}</span>
        </label>
      </div>
    </div>
  </div>
</section>
