.order-address
  a
    display block
  .add-address
    line-height 40px
    text-align center
    color $main

  .current-address-name
    float left
    margin-right 15px

  .current-address-tel
    float left

  .current-address-string
    clear both

  .order-receiver-date,
  .order-receiver-time
    display inline-block
    width 49%

  .order-receiver-time
    label
        white-space nowrap

  .current-address
      p
        margin 0
