<section>
  <div class="order-address">
    <div class="add-address"
      ng-hide="address.rcvPhone">
      <a href="/address/new">添加收货地址</a>
    </div>
    <div ng-hide="!address.rcvPhone"
      class="current-address">
      <span class="to-click-outline fr">
      <a href="/address/edit">修改地址</a>
    </span>
      <div class="current-address-name">
        {{address.rcvName}}
      </div>
      <div class="current-address-tel"
        ng-bind="address.rcvPhone">
      </div>
      <div class="current-address-string">
        {{address.rcvAddress}}
      </div>
    </div>
  </div>
</section>
