<ion-list class="shop-list clearfix">
  <ion-item ng-repeat="shop in shops" href="/shop/{{shop.shopId}}">
    <div class="shop-img clearfix">
      <img ng-src="http://lifeuxuan.com/backend/{{shop.shopPicUrl}}" alt="">
    </div>
    <div class="shop-info-wrap">
      <div class="shop-info1">
        <span class="name">{{shop.shopName}}</span>
      </div>
      <div class="shop-info2">
        <span>月售{{shop.soldNumber}}单</span>
        <span class="distance"><i class="icon ion-location placeholder-icon"></i>{{shop.distance}}米</span>
      </div>
      <div class="shop-info3">
        <span>起送￥{{shop.sendStartPrice}}</span>
        <span class="send-divide">|</span>
        <span>配送￥{{shop.sendPrice}}</span>
      </div>
    </div>
  </ion-item>
</ion-list>
