a {
  text-decoration: none;
  color: #000;
}

.padding-top55 {
  padding-top: 55px;
}

.v-content.scroll-content {
  display: table !important;
  width: 100% !important;
  height: 100% !important;
  background: #eee;
}

.v-content .scroll {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.height100 {
  height: 100%;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.wide-as-needed {
  overflow: auto;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.h-li {
  display: inline-block;
}

.h-ul {
  display: inline-block;
}

.bottom-bar {
  position: absolute;
  bottom: 0px;
  width: 100%;
  z-index: 100;
  background: #fff;
}

.u-flyer {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  position: fixed;
  z-index: 9999;
  color: #619de5;
}

.e-content {
  margin: 35px 0 65px 0;
}

.backE {
  background: #f2f7fa;
}

.pane {
  background-color: #f2f7fa;
}

.index-header .item {
  float: left;
  padding: 0;
  height: 40px;
  border: none;
  background: transparent;
}

.item-select:after {
  top: 52%;
}

.distract-select {
  width: 100px;
}

.header-icon {
  position: absolute;
  top: 4px;
  right: 15px;
  line-height: 40px;
}

.header-icon i {
  color: #fff;
  font-size: 24px;
}

.header-icon.header-location {
  left: 15px;
  right: auto;
}

.index-slide {
  height: 220px;
  /*border-bottom: 10px solid #eee;*/
}

.index-slide img {
  width: 100%;
  height: 100%;
}

.index-slide .box {
  height: 100%;
}

.index-slide h1 {
  height: 100%;
  text-align: center;
  line-height: 90px;
}

.icon-wrap {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 2px #cecbd1 solid;
  border-radius: 75px;
}

.icon-wrap i {
  display: inline-block;
  margin-top: 8px;
  font-size: 20px;
}

.index-nav>div {
  float: left;
  height: 40px;
  width: 49%;
  text-align: center;
  font-size: 16px;
}

.index-nav p {
  padding-top: 5px;
  font-size: 13px;
}

.index-nav a {
  color: #090909;
}

.fruit i {
  color: #f9c8fc;
}

.washing i {
  color: #efdeff;
}

.divider {
  text-align: center;
  font-size: 18px;
  background: #fff;
  overflow: hidden;
}

.index-list {
  background: #f0f0f0;
}

.index-list-item {
  position: relative;
  padding: 0;
  border: none;
}

.index-list-item img {
  float: left;
  width: 100px;
  height: 75px;
}

.index-list-item .name {
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.index-list-item .price {
  color: #619de5;
  font-size: 15px;
  text-indent: -3px;
}

.good-info-wrap {
  width: 95%;
}

.shop .good-info-wrap li {
  float: left;
  font-size: 12px;
  width: 25%;
  padding-right: 8%;
  /*margin: 10px 30px 0 15px;*/
}

.shop .good-info-wrap li:nth-child(3) {
  border-right: 1px solid;
}

.shop .good-info-wrap li:nth-child(even) {
  padding-left: 8%;
}

.shop .slogen {
  font-size: 12px;
  color: #888;
  margin: 0 10px;
}

.shop .name {
  font-size: 14px;
}

.shop .item-content,
.rank .item-content {
  padding: 0;
  width: 95%;
  margin: 0 auto 10px;
  border-bottom: 1px solid #ddd;
}

.single .list {
  white-space: nowrap;
  width: auto;
}

.single .index-list-item {
  display: inline-block;
  float: none;
  margin: 0;
  padding-top: 15px;
  border: none;
}

.single img {
  display: block;
  float: none;
  margin: 0 auto;
  border-radius: 10px;
  border: solid 1px #ccc;
}

.single .price {
  font-size: 13px;
}

.rank img {
  margin: 10px 20px 10px 10px;
}

.rank .name {
  margin: 0;
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
}

.rank .description {
  display: block;
  font-size: 14px;
}

.rank .price {
  margin-top: 4px;
  font-size: 18px;
}

.list-cart {
  position: absolute;
  bottom: 10px;
  right: 20px;
  font-size: 35px;
}

p.cartNumber {
  position: absolute;
  top: -5px;
  right: -10px;
  background: #f00;
  color: #fff;
  width: 20px;
  text-align: center;
  height: 20px;
  font-weight: bold;
  line-height: 20px;
  border-radius: 20px;
}

.goods-list-item {
  margin-left: 90px;
}

.goods-list-item .name {
  font-size: 14px;
}

.goods-list-item .description {
  font-size: 12px;
}


/*--------------------------*/


/*goood detail*/

.good-img {
  height: 200px;
  overflow: auto;
}

.good-img img {
  width: 100%;
  min-height: 100%;
}

.good-main-info {
  position: relative;
  padding: 5px;
  background: #fff;
}

.good-main-info .good-name {
  font-size: 18px;
  color: #000;
}

.good-main-info .good-descirbe {
  padding: 0px 10px;
}

.good-main-info .good-price {
  height: 30px;
  font-size: 18px;
  line-height: 30px;
  margin: 10px 5px;
  color: #619de5;
}

.good-shop {
  margin: 8px 0;
  padding: 5px;
  background: #fff;
}

.good-shop .shop-part {
  position: relative;
  width: 50%;
  height: 40px;
  float: left;
}

.icon-text {
  position: absolute;
  width: 50px;
  top: 26px;
  left: 16px;
  font-size: 10px;
}

.good-shop .shop-address {
  padding: 5px 15px 0;
  clear: both;
}

.good-shop i {
  position: absolute;
  left: 15px;
  font-size: 30px;
  color: #619de5;
  line-height: 40px;
}

.good-shop .shop-name {
  display: table-cell;
  vertical-align: middle;
  height: 40px;
  width: 155px;
  padding-left: 40px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

.good-shop .shop-icon {
  padding: 0 10px;
  color: #619de5;
}

.good-shop .shop-yingye {
  border-left: solid 1px #333;
}

.good-shop .shop-time {
  margin: 0 auto;
  text-align: center;
}

.good-shop .shop-time p {
  margin: 0;
}

.good-more-info {
  min-height: 500px;
}

.good-more-info .item {
  margin-bottom: 5px;
}

.good-more-info img {
  width: 100%;
  height: auto;
}

.shopping-cart-bar {
  background: #f2f7fa;
}


/*cart modal*/

.cart-modal {
  background: rgba(66, 66, 66, 0.4);
}

.cart-modal.ng-enter-active {
  transform: translateY(-44px);
}

.cart-modal-list {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background: #fff;
}

.cart-good-info {
  display: inline-block;
  max-width: 60%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cart-price {
  display: inline-block;
  font-size: 12px;
}

.cart-operate {
  display: inline-block;
  float: right;
}

.cart-icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  line-height: 23px;
  text-align: center;
  border: 2px solid;
  border-radius: 25px;
}

.cart-quantity {
  margin: 0 5px;
  font-size: 16px;
}


/*order status*/

.order-status {
  text-align: center;
  background: #ef473a;
}

.order-status h1 {
  margin-top: 50%;
  font-size: 30px;
  font-weight: bold;
  color: #fff;
}

.order-status a {
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
  overflow: hidden;
  color: #fff;
  height: 40px;
}

img.single-shop {
  width: 150px;
  height: 80px;
}

.go-wash-cart {
  width: 100%;
}
