.good-detail
  .good-img
    height 200px
    overflow hidden
    img
      width 100%
      min-height 100%

  .good-main-info
    padding 5px 10px
    .good-name
      font-size 18px
    .good-descirbe
      padding 0px 10px
    .good-price
      height 30px
      font-size 18px
      line-height 30px
      margin 10px 5px
      color #619de5
    .good-detail__add-cart
      position absolute 
      bottom 15px
      right 20px
      
  .good-shop
    a
      display block
    .shop-info
      position relative
      float left
      width 48%
      padding 0 15px
      text-align center
      .shop-icon
        position absolute
        padding 0 10px
        color $main
        i
          font-size 22px
          color $main
      .shop-name
        padding-left 50px
      .shop-time
        margin 0 auto
    .shop-info + .shop-info
      border-left solid 1px #333
    .shop-address
      padding 10px 25px 0
      
  .item
    padding 0
  .good-more-pics
    padding 0