<ion-scroll direction="y"
  overflow-scroll="true"
  class="class-list">
  <ion-list>
    <ion-item ng-class="{'show': $index === currentIndex}"
      ng-repeat="class in classList">
      <p ng-click="scrollTo(class.classifyId, $index)">{{class.classifyName}}</p>
    </ion-item>
  </ion-list>
</ion-scroll>
<ion-scroll direction="y"
  overflow-scroll="true"
  delegate-handle="wash-scroll"
  class="scroll-list"
  on-scroll="getScrollPosition()">
  <ion-list>
    <ion-item ng-repeat="good in goodList">
      <a ng-href="/sessions/{{good.productId}}">
        <img ng-src="http://lifeuxuan.com/{{good.productHeadImg}}">
      </a>
      <div class="info">
        <p class="name">{{good.productName}}</p>
        <p class="description">{{good.productDescription}}</p>
        <p class="price">
          ￥{{good.productPrice/100 }}
          <span class="measure">/{{good.productMeasure || '件'}}</span></p>
      </div>
      <add-cart ng-if="type !== 'coffee'"
        class="shop-detail__add-cart"
        good="good"
        shop="shop"
        type="type"></add-cart>
      <add-coffee ng-if="type === 'coffee'"
        class="shop-detail__add-cart"
        type="type"
        shop="shop"
        good="good"></add-coffee>
    </ion-item>
  </ion-list>
</ion-scroll>
