.class-list
  float left
  width 20%
  height 100%
  background #eee
  text-align center
  .item
    padding 0
    background $bg
    &.show
      background #fff
    p 
      padding 10px
 
.goods-list
  width 80%
  height 100%
  .item
    padding 10px
    img
      float left
      width 75px
      height 60px
      border-radius 20px
    .info
      margin-left 90px
      .name
      	font-size 14px
      .price
      	font-size 16px
      	color $main
      	.measure
      		font-size 12px
    .shop-detail__add-cart
      position absolute 
      bottom 2px
      right 10px