<ion-view view-title="U选到家">
    <ion-content>
        <ion-refresher on-refresh="doRefresh()"></ion-refresher>
        <ion-list class="">
            <ion-item class="list-order-list" ng-repeat="order in orders" href="/orderDetail/{{order.orderId}}">
                <div class="clearfix">
                	<p class="fl">订单号:{{order.orderId}}</p>
                	<p class="fr">{{order.type}}</p>
                </div>
                <div class="clearfix">
                    <p class="fl">服务费:{{order.profit}}</p>
                    <p class="fr">{{order.orderTime}}</p>
                </div>
                <p class="fl">预约时间:{{order.userPreferTime[0]}}:{{order.userPreferTime[1]}}</p>
                <div  class="clearfix">
                	<p class="fl">收件人:{{order.username}}</p>
                    <p class="fr">电话:{{order.userPhoneNumber}}</p>
                </div>
                <p class="fl">预约时间:{{order.userAddress}}</p>
                <!-- <div ng-hide="order.orderStatusId != '7007'" class="is-pay-order clearfix">
                    <div class="fr" ng-click="rePay($event, order)">支付订单</div>
                    <div class="fr" ng-click="cancel($event, order)">取消订单</div>
                </div> -->
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
