<ion-view class="create-order" view-title="U选到家">
  <ion-content class="singePage cart-page">
    <section class="order-address" ng-click="getAddress()">
      <div class="add-address" ng-hide="status.isAdded">
        添加收货地址
      </div>
      <div ng-hide="!status.isAdded" class="current-address">
        <span class="fromWeChat fr">修改地址</span>
        <div class="current-address-name">
          {{order.user.name}}
        </div>
        <div class="current-address-tel">
          {{order.user.tel}}
        </div>
        <div class="current-address-string">
          {{order.user.address}}
        </div>
      </div>
    </section>
    <section uxuan-time></section>
    <section class="order-server">
      <span>选择管家</span>
      <label ng-repeat="eG in order.eGuards">
        <input type="radio" name="eGuard" ng-checked="$first" value={{eG.eguardId}} ng-model="order.guard">
        <span>{{eG.eguardName}}</span>
      </label>
    </section>
    <ion-list class="good-list-in-order">
      <ion-item ng-repeat="shop in order.carts" ng-class="{'not-reach': !shop.isReachStartPrice}">
        <div class="order-cart-shop clearfix">
          <label class="clearfix">
            <div class="check-good fl">
              <input type="checkbox" ng-model="shop.isChecked" ng-click="pickShop($event, shop)">
            </div>
            <div class="fl"><img class="shop-img" ng-src="http://lifeuxuan.com/{{shop.shopInfo.shopPicUrl}}"></div>
            <div class="cart-shop-name"><span>{{shop.shopInfo.shopName}}</span></div>
            <div class="calculate-money fr">
              <span class="totalMoney">￥{{shop.singleCartTotalNumber/100|number:2}}</span>
              <p class="sendPrice">含运费{{shop.shopInfo.sendPrice}}元</p>
              <p class="sendPrice sendStartPrice">起送价{{shop.shopInfo.sendStartPrice}}元</p>
            </div>
          </label>
        </div>
        <div class="order-cart-goods clearfix">
          <ion-list class="clearfix">
            <ion-item ng-repeat="good in shop.productsList">
              <label class="clearfix">
                <div class="check-good fl">
                  <input type="checkbox" ng-model="good.isChecked" ng-click="pickShopGood($event, good, shop)">
                </div>
                <div class="fl"><img class="cart-detail-img" ng-src="http://lifeuxuan.com/{{good.productHeadImg}}"></div>
                <div class="cart-goods-info">
                  <p class="sendPrice">{{good.productName}}</p>
                  <p class="sendPrice sendStartPrice">￥{{good.productPrice/100}}</p>
                </div>
              </label>
              <div single-cart class="order-cart-action"></div>
          </ion-list>
        </div>
        </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer-bar class="order-cart" ng-if="order.isReserve">
    <div class="bottom-bar shopping-cart-bar shopping-cart-bar-wash">
      <div class="button button-assertive button-full go-wash-cart" ng-click="confirmOrder()">确认预约</div>
    </div>
  </ion-footer-bar>
  <ion-footer-bar class="order-cart" ng-if="!order.isReserve">
    <label class="pick-all">
      <input type="checkbox" name="" ng-model="order.isAllChecked" ng-click="pickAll()">
      <span>全选</span>
    </label>
    <div class="total-price">
      <span>总价</span>
      <span>￥{{order.totalMoney/100}}</span>
    </div>
    <div class="button confirm-cart" ng-click="confirmOrder()" ng-class="{'disable-pay': orderButton.isDisabled}">微信支付</div>
  </ion-footer-bar>
</ion-view>
