<ion-view class="create-order" view-title="U选到家">
    <div class="index-header">
        <div class="back-wrap" ng-click="myGoBack()">
            <i class="ion-arrow-left-c"></i><span>返回</span>
        </div>
    </div>
	<ion-content class="e-content">
    <section class="order-address">
        <span>收货地址</span><span ng-click="getAddress()">从微信获取</span>
        <textarea ng-model="order.receiverAddress"></textarea>
    </section>
    <section class="order-receiver-info clearfix">
        <div class="order-receiver-name">
            <label>
                <span>收货人姓名</span>
                <input type="text" name="receiver" placeholder="姓名" ng-model="order.receiverName">
            </label>
        </div>
        <div class="order-receiver-phone" >
            <label>
                <span>收货人手机</span>
                <input type="number" name="phone" placeholder="手机" ng-model="order.receiverPhone">
            </label>
        </div>
    </section>
    <section class="order-time">
        <select ng-model="order.preferTimeDay">
            <option>今日({{temp.today}})</option>
            <option>明日({{temp.tomorrow}})</option>
        </select>
        <div class="time-wrap">
            <label>
                <input type="radio" name="time" value="8" ng-model="order.preferTimeDate">
                <span>08:00-10:00</span>
            </label>
            <label>
                <input type="radio" name="time" value="10"  ng-model="order.preferTimeDate">
                <span>10:00-12:00</span>
            </label>
            <label>
                <input type="radio" name="time" value="12"  ng-model="order.preferTimeDate">
                <span>12:00-14:00</span>
            </label>
            <label>
                <input type="radio" name="time" value="14"  ng-model="order.preferTimeDate">
                <span>14:00-16:00</span>
            </label>
            <label>
                <input type="radio" name="time" value="16"  ng-model="order.preferTimeDate">
                <span>16:00-18:00</span>
            </label>
            <label>
                <input type="radio" name="time" value="18"  ng-model="order.preferTimeDate">
                <span>18:00-20:00</span>
            </label>
        </div>
    </section>
    <section class="order-server">
        <span>选择管家</span>
        <label>
            <input type="radio" name="guanjia" value="1" ng-model="order.guard">
            <span>张师傅</span>
        </label>
        <label>
            <input type="radio" name="guanjia" value="2" ng-model="order.guard">
            <span>赵师傅</span>
        </label>
    </section>
    <section class="order-note">
        <span>备注</span>
        <textarea ng-model="order.note"></textarea>
    </section>
    <ion-list class="good-list-in-order">
        <ion-item class="index-list-item" ng-repeat="good in goods">
            <img ng-src="http://lifeuxuan.com/backend/{{good.goodListPic}}" alt="">
            <span class="name">{{good.goodName}}</span>
            <div class="good-info-wrap">
                <p class="price">数量：{{good.buyNumber}}</p>
            </div>
        </ion-item>
    </ion-list>
    </ion-content>
    <div class="bottom-bar confirm-order">
        <div class="total-price">
            <span>总价</span>
            <span>￥{{totalPrice}}</span>
        </div>
        <!-- <a href=""> -->
            <div class="button button-assertive confirm-cart" ng-click="confirmOrder()" >确认下单</div>
        <!-- </a> -->
    </div>
</ion-view>
