<ion-view view-title="U选到家">
  <ion-content>
    <ion-refresher on-refresh="doRefresh()"></ion-refresher>
    <div class="no-order" ng-show="orders.length == 0">快去下个订单吧~</div>
    <ion-list class="">
      <ion-item class="orders-list" ng-repeat="order in orders" ng-href="/orderDetail/{{order.orderId}}/{{order.orderType}}">
        <div ng-if="order.orderType == 17001">
          <div class="clearfix">
            <p class="list-order-id fl to-click-outline">【订单号】{{order.orderId}}</p>
            <p class="list-order-status fr" ng-class="{'attention':order.orderStatusId == 10002}">{{order.orderStatus}}</p>
          </div>
          <p class="list-shop">{{order.shopName}}</p>
          <ion-list class="clearfix">
            <ion-item ng-repeat="pic in order.productImgsList"> <img class="order-list-good-img" ng-if="$index < 4" ng-src="http://lifeuxuan.com/{{pic}}">
              <ul class="order-list-good-img more-goods clearfix" ng-if="$index == 4">
                <li></li>
                <li></li>
                <li></li>
              </ul>
            </ion-item>
          </ion-list>
          <div class="clearfix">
            <p class="list-money fl">总计:￥{{order.money/100| number:2}}</p>
            <p class="fl">共{{order.productImgsList.length}}件</p>
            <p class="list-order-time fr">{{order.orderTime * 1000 | date: 'yyyy-MM-dd HH:mm:ss'}}</p>
          </div>
          <div class="guard-order-button is-pay-order clearfix" ng-show="order.orderStatusId == 10001 || order.orderStatusId == 10002">
            <button class="button button-small button-small-x" ng-click="clickRed(order)">取消订单</button>
            <button class="button button-small button-small-x to-click" pay-order order={{order}}>支付订单</button>
          </div>
        </div>
        <div ng-if="order.orderType == 17002" href="/orderDetail/{{order.orderId}}/{{order.orderType}}">
          <div class="clearfix">
            <p class="list-order-id fl to-click-outline">【订单号】{{order.orderId}}</p>
            <p class="list-order-status fr" ng-class="{'attention':order.orderStatusId == 7007}">{{order.orderStatus}}</p>
          </div>
          <p class="list-shop">{{order.shopName}}</p>
          <ion-list class="clearfix">
            <ion-item ng-repeat="pic in order.productImgsList"> <img class="order-list-good-img" ng-if="$index < 4" ng-src="http://lifeuxuan.com/{{pic}}">
              <ul class="order-list-good-img more-goods clearfix" ng-if="$index == 4">
                <li></li>
                <li></li>
                <li></li>
              </ul>
            </ion-item>
          </ion-list>
          <div class="clearfix">
            <p class="list-money fl">
              取件时间：{{order.preferFetchTime[0] * 1000 | date: 'yyyy/MM/dd HH:mm'}} -- {{order.preferFetchTime[1] * 1000 | date: 'HH:mm'}}
            </p>
          </div>
          <div class="guard-order-button is-pay-order clearfix" ng-show="order.orderStatusId == 10001 || order.orderStatusId == 10002">
            <button class="button  button-small button-small-x to-click" pay-order order={{order}}>支付订单</button>
            <button class="button button-small button-small-x" ng-click="clickRed(order)">取消订单</button>
          </div>
          <div class="guard-order-button is-pay-order clearfix" ng-show="order.orderStatusId == 10003 || order.orderStatusId == 10004">
            <button class="button  button-small button-small-x disabled">支付订单</button>
            <button class="button button-small button-small-x" ng-click="clickRed(order)">取消订单</button>
          </div>
          <div class="guard-order-button is-pay-order clearfix" ng-show="order.orderStatusId == 11001">
            <button class="button button-small button-small-x" ng-click="clickRed(order)">取消订单</button>
            <button class="button button-small button-small-x disabled">
              开始计价
            </button>
          </div>
          <div class="guard-order-button is-pay-order clearfix" ng-show="order.orderStatusId == 11004 || order.orderStatusId == 11005">
            <button class="button button-small button-small-x to-click" ng-click="clickPrice(order)">
              开始计价
            </button>
          </div>
          <div class="guard-order-button is-pay-order clearfix" ng-show="order.orderStatusId == 11006">
            <button class="button  button-small button-small-x to-click" pay-order order={{order}}>支付订单</button>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
