<ion-view view-title="U选到家">
    <ion-content class="backE" delegate-handle="mainScroll">
        <div class="index-header">
            <label class="header-icon header-location" ng-click="openModal()">
                <i class="icon ion-location placeholder-icon"></i>
            </label>
            <!-- <a href="iframe-map.html"><i class="icon ion-location placeholder-icon"></i></a>  -->
            <p e-guard></p>
            <label class="header-icon">
                <i class="icon ion-ios-search placeholder-icon"></i>
            </label>
        </div>
        <ion-slide-box class="index-slide" on-slide-changed="slideHasChanged($index)" slide-interval="3500" does-continue="true" auto-play="true">
            <ion-slide>
                <div class="box blue">
                    <!-- <h1>水果推荐1</h1> -->
                    <img src="img/1.jpg">
                </div>
            </ion-slide>
            <ion-slide>
                <div class="box yellow">
                    <!-- <h1>水果推荐2</h1> -->
                    <img src="img/2.jpg">
                </div>
            </ion-slide>
            <ion-slide>
                <div class="box pink">
                    <!-- <h1>洗衣推荐</h1> -->
                    <img src="img/3.jpg">
                </div>
            </ion-slide>
            <ion-slide>
                <div class="box pink">
                    <!-- <h1>洗衣推荐</h1> -->
                    <img src="img/4.jpg">
                </div>
            </ion-slide>
            <ion-slide>
                <div class="box pink">
                    <!-- <h1>洗衣推荐</h1> -->
                    <img src="img/5.jpg">
                </div>
            </ion-slide>
        </ion-slide-box>
        <!-- <nav class="index-nav">
            <div class="fruit">
                <a href="#/sellerList/1">
                    <div>
                        <span class="icon-wrap"><i class="icon ion-waterdrop"></i></span>                        
                    </div>
                    <p>水果</p>
                </a>
            </div>
            <div class="washing">
                <a href="#/sellerList/2">
                    <div>
                        <span class="icon-wrap"><i class="icon ion-tshirt"></i></span>
                    </div>
                    <p>洗衣</p>
                </a>
            </div>
        </nav> -->
        <div class="divider">U选爆款</div>
        <ion-scroll direction="x" zooming="false" delegate-handle="horizontal" horizontal-scroll-fix="mainScroll" class="marginM5">
            <ion-list class="single goods index-list clearfix">
                <ion-item class="index-list-item" ng-repeat="session in sessions" href="#/sessions/{{session.productId}}">
                    <img ng-src="http://lifeuxuan.com/backend/{{session.productPicUrl}}" alt="">
                    <!-- <img src="img/single.jpg"> -->
                    <span class="name">{{session.productName}}</span>
                    <p class="price">￥{{session.price/100}}/{{session.unit}}</p>
                </ion-item>
            </ion-list>
        </ion-scroll>
        <div class="divider">U选生鲜水果</div>
        <div seller-list></div>
        <div class="divider">U选排行榜</div>
        <ion-list class="rank index-list clearfix">
            <ion-item class="index-list-item" ng-repeat="good in goods" href="#/sessions/{{good.productId}}">
                <img ng-src="http://lifeuxuan.com/backend/{{good.productPicUrl}}" alt="">
                <!-- <img src="img/single.jpg"> -->
                <span class="name">{{good.productName}}</span>
                <span class="name">{{good.description}}</span>
                <p class="price">￥{{good.price/100}}/{{good.unit}}</p>
                <div single-cart></div>
                <!-- <div class="plus" ng-click="addCart($event);$event.stopPropagation();" ion-stop-event="click">+</div> -->
            </ion-item>
        </ion-list>
    <!--     <div class="divider">U选洗衣</div>
        <ion-list class="seller index-list clearfix">
            <ion-item class="index-list-item" ng-repeat="session in sessions" href="#/sessions/{{session.goodId}}"> -->
                <!-- <img ng-src="http://lifeuxuan.com/backend/{{session.goodListPic}}" alt=""> -->
                <!-- <img src="img/single.jpg">
                <span class="name">{{session.goodName}}</span>
                <ul class="good-info-wrap clearfix">
                    <li class="distance">月售{{session.distance}}单</li>
                    <li class="distance">{{session.distance}}米</li>
                    <li class="distance">{{session.distance}}起送</li>
                    <li class="distance">{{session.distance}}配送费</li>
                </ul>
                <div class="slogen">{{session.goodName}}</div>
                <i class="icon ion-ios-cart list-cart"></i> -->
                <!-- <div class="plus" ng-click="addCart($event);$event.stopPropagation();" ion-stop-event="click">+</div> -->
         <!--    </ion-item>
        </ion-list> -->
    </ion-content>
</ion-view>
