<ion-view view-title="good" class="backE" animation="slide-left-right">
  <div class="index-header">
    <div go-back></div>
  </div>
  <ion-content>
    <div class="good-img">
      <img ng-src="http://lifeuxuan.com/backend/{{good.productPicUrl}}">
    </div>
    <div class="good-main-info">
      <div class="good-name">{{good.productName}}</div>
      <div class="good-descirbe">{{good.description}}</div>
      <div class="good-price">￥{{good.price/100}}</div>
      <div add-cart></div>
    </div>
    <a href="/washSingle/39">
      <div class="good-seller">
        <div class="shop-part">
          <i class="icon ion-ios-home"></i>
          <p class="shop-name">{{good.sellerName}}</p>
        </div>
        <div class="shop-part shop-yingye">
          <div class="shop-time">
            <p>营业时间</p>
            <p>{{good.openTime}}-{{good.closeTime}}</p>
          </div>
        </div>
        <div class="shop-address">
          地址：{{good.sellerAddress}}
        </div>
      </div>
    </a>
    <div class="good-more-info">
      <ion-list class="index-list">
        <ion-item class="index-list-item" ng-repeat="img in imgs">
          <img ng-src="http://lifeuxuan.com/backend/{{img}}" alt="">
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
  <ion-footer-bar class="bar bar-footer">
    <div class="bottom-bar shopping-cart-bar">
      <div cart-modal-icon></div>
      <a href="/app/cart">
        <div class="button go-cart fr">选好了</div>
      </a>
    </div>
  </ion-footer-bar>
</ion-view>
