<ion-view view-title="U选到家" ng-controller="guardAccountCtrl">
  <div class="index-header" style="background: #003333">
    <ul class="order-tabs">
      <li class='back-active' style="width: 100%">个人中心</li>
    </ul>
  </div>
  <ion-content class="user-info has-header">
    <div class="user-basic">
      <img ng-src="{{user.img}}">
      <h1>{{user.name}}</h1>
    </div>
    <div class="account-toggle text-center">
      <span class="account-status" ng-class="{'account-unactive': status.isChecked}">休息</span>
      <label class="toggle">
        <input type="checkbox" ng-model="status.isChecked">
        <div class="track">
          <div class="handle"></div>
        </div>
      </label>
      <span class="account-status" ng-class="{'account-unactive': !status.isChecked}">接单</span>
    </div>
    <div class="row account-box">
      <div class="col-33"><a href="/guardInfo" style="display: block;">配送规则</a></div>
      <div class="col-33"><a href="/guardInfo" style="display: block;">个人资料</a></div>
      <div class="col-33">推广码</div>
    </div>
    <div class="row account-box">
      <div class="col-33">通知</div>
      <div class="col-33" ng-click="logout()">退出登录</div>
      <div class="col-33"><a href="/resetPassword/guard" style="display: block;">修改密码</a></div>
    </div>
    <p style="padding: 0 10px;margin: 0">通知</p>
    <ul class="padding">
      <li ng-repeat="notice in notices">{{notice.content}}</li>
    </ul>
  </ion-content>
</ion-view>
