<ion-view view-title="U选到家" ng-controller="guardOrdersCtrl">
  <div class="index-header" style="background: #003333">
    <ul class="order-tabs">
      <li ng-click="clickTab('new')" ng-class="{'active': status.now == 'new'}">新订单({{ordersNumber.new}})</li>
      <li ng-click="clickTab('process')" ng-class="{'active': status.now == 'process'}">处理中({{ordersNumber.process}})</li>
      <li ng-click="clickTab('finish')" ng-class="{'active': status.now == 'finish'}">已完成({{ordersNumber.finish}})</li>
    </ul>
  </div>
  <ion-content class="has-header">
    <ion-refresher on-refresh="doRefresh()"></ion-refresher>
    <div class="no-order" ng-show="status.noOrder">无订单</div>
    <ion-list ng-show="!status.noOrder">
      <ion-item class="list-order-list" ng-repeat="order in orders" ng-href="guard/orderDetail/{{order.orderId}}/{{order.orderType}}/{{type}}">
        <div class="clearfix">
          <p class="fl bl">订单号:{{order.customerOrderId}}</p>
          <p class="fr order-popo">{{orderTypeObj[order.orderType]}}</p>
          <!-- <p class="fr">{{order.orderStatus}}</p> -->
        </div>
        <div class="clearfix">
          <p class="fl">服务费:￥{{order.serviceFee}}</p>
          <p class="fr">{{order.orderTime | date : 'yyyy-MM-dd' }}</p>
        </div>
        <div class="clearfix" style="color: red">
          <div class="w50 fl ">
            <p class="fl" style="color: red">预约时间:</p>
            <p class="fr text-center" style="color: red">
              {{order.reserveTime[0] | date : 'yyyy-MM-dd'}}
            </p>
          </div>
          <div class="w10 fl text-center">|</div>
          <div class="w40 fl text-center ">
            <p class="fl" style="color: red">{{toWeekCn(order.reserveTime[0])}}</p>
            <p class="fr" style="color: red">{{order.reserveTime[1] | date : 'HH:mm'}}</p>
            <p class="fr" style="color: red">{{order.reserveTime[0] | date : 'HH:mm'}}-</p>
          </div>
        </div>
        <div class="clearfix">
          <p class="fl">收件人:{{order.rcvName}}</p>
          <p class="fr"><a class="bl" href="tel:{{order.rcvPhone}}">收货电话:{{order.rcvPhone}}</a></p>
        </div>
        <p>收货地址:{{order.rcvAddress}}</p>
        <p>商家名称:{{order.shopName}}</p>
        <div class="guard-order-button is-pay-order clearfix">
          <button class="button button-small button-small-x" ng-show="order.isRedShow" ng-click="clickRed($event, order)">{{order.redText}}</button>
          <button class="button button-small button-small-x to-click" ng-show="order.isBlueShow" ng-click="clickBlue($event, order)">{{order.blueText}}</button>
        </div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
