<ion-modal-view class="mask">
  <div class="add-cart modal-coffee">
    <div class="config clearfix">
      <div class="temperature">
        <div class="header">温度</div>
        <div class="body">
          <ul class="clearfix">
            <li ng-repeat="temperature in temperatureList"
              ng-class="{'u-active':temperature.id === selected.temperatureId}"
              ng-click="pickTemprature(temperature)">
              {{temperature.name}}
            </li>
          </ul>
        </div>
      </div>
      <div class="cup">
        <div class="header">杯型</div>
        <div class="body">
          <ul class="clearfix">
            <li ng-repeat="cup in good.cup"
              ng-class="{'u-active':cup.id === selected.cupId}"
              ng-click="pickCup(cup)">
              {{cup.name}}
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="buy clearfix">
      <div class="price">{{good.productPrice/100 || 50}}元/杯</div>
      <div class="action">
        <div class="action-tip">购买数量</div>
        <div class="add-icon fl"
          ng-click="removeCart()">
          <i class="icon ion-minus-round"></i>
        </div>
        <div class="cart-number fl">{{selected.number || 0}}</div>
        <div class="remove-icon fl"
          ng-click="addCart()">
          <i class="icon ion-plus-round"></i>
        </div>
      </div>
    </div>
    <div class="cancel">
      <div class="button button-small"
        ng-click="closeModal()">X</div>
    </div>
    <div class="confirm">
      <div class="button button-small to-click"
        ng-click="doneModal()">完成</div>
    </div>
  </div>
</ion-modal-view>
