$bg = #f2f7fa
$bgc = #d4efff
$main = #619DE5

body
  background $bg
a
  text-decoration none
  color #001
section
  background #fff
section + section
  margin-top 10px
p
  margin 0
textarea
  width 100%
  padding-left 10px
  resize none
  height 61px
  max-height 350px
  padding 10px
  color #666

.bl
  color $main
  
.to-click
  background $main
  color #fff
  
.to-click-outline
  color $main !important
  
.danger
  color #ef0000 !important

.disabled
  background #eee !important
  color #999 !important

.relative
  position relative

.back-active
  font-weight bold
  color #33CC99 !important
  
.fr
  float right
  
.fl
  float left
  
.has-detail-header
  top 150px
  
.u-active
  background $main
  color #fff
  border none !important

.mask
  position absolute
  top 0 
  right 0
  left 0
  bottom 0
  z-index 100
  background rgba(66,66,66,0.4)
  
.scroll-list
  height 100%

.full
  position absolute
  top 0
  bottom 0
  right 0
  left 0
  
.fixed
  position fixed
  bottom 10px
  right 10px
  z-index 100
  
// rewirte ionic
.item
  border none
  padding 8px 10px
.item-content
  padding 15px !important
.pane
  background $bg
.button-small
  width 75px
  border-radius 6px
.bar
  padding 0