body
  background $bg
a
  text-decoration none
  color #001
section
  background #fff
section + section
  padding 15px 0
  margin-top 10px
p
  margin 0
  
$bg = #f2f7fa
$bgc = #d4efff
$main = #619DE5

.bl
  color $main
  
.to-click
  background $main
  color #fff
  
.to-click-outline
  color $main !important
  
.danger
  color #ef0000 !important

.disabled
  background #eee !important
  color #999 !important

.text-center
  text-align center !important

.rel
  position relative

.back-active
  font-weight bold
  color #33CC99 !important
  
.fr
  float right
  
.fl
  float left
  
.has-detail-header
  top 150px
  
  
// rewirte ionic
.item
  border none
.item-content
  padding 15px !important
.pane
  background $bg
.button-small
  width 70px
  border-radius 6px