.shop-detail
  height 150px
  padding 55px 0px 5px 20px
  border-bottom solid #eee 10px
  .shop-img
    margin 5px 0
    float left
    width 60px
    height 60px
    border-radius 100px
  .detail-info
    margin-left 80px
    font-size 12px
	  .name
	    font-size 16px