.bl {
  color: #619de5;
}

.to-click {
  background: #619de5;
  color: #fff;
}

.to-click-outline {
  color: #619de5 !important;
}

.attention {
  color: #ef0000 !important;
}

.w50 {
  width: 50%;
}

.w40 {
  width: 40%;
}

.text-center {
  text-align: center !important;
}

.order-tabs li {
  float: left;
  width: 33%;
  font-size: 18px;
  text-align: center;
  color: #fff;
}

.order-tabs li:nth-child(2) {
  border-left: solid 1px;
  border-right: solid 1px;
}
