.header-wrap {
    position: relative;
    overflow: hidden;
}

.current-location {
    position: absolute;
    bottom: -65px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background: #fff;
    text-align: center;
}

.location-icon {
    font-size: 30px;
}

.current-location-text {
    text-align: center;
    padding: 20px 0;
    font-size: 16px;
    background: #fff
}

.location-text {
    background: #d4efff;
    border-radius: 15px;
    padding: 5px 15px;
}

.list-top {
    margin-top: 15px;
    padding: 25px 0;
    background: #fff;
}

.index-nav {
    background: #fff;
}

.index-nav li {
    float: left;
    width: 25%;
    text-align: center;
}

.index-nav img {
    width: 40px;
    height: 40px;
}

.index-hot-list .item-content{
	padding-left: 15px;
}

.index-hot-list .item-content:first-child{
	padding: 0 15px;
}
