/*go-cart*/

.bar {
  padding: 0;
}

.disabledButton {
  background: #eee !important;
  color: #999 !important;
}

.create-order section {
  background: #fff;
}

.add-address {
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #619de5;
}

.current-address-name {
  float: left;
  margin-right: 15px
}

.current-address-tel {
  float: left;
}

.current-address-string {
  clear: both;
}

.order-receiver-date,
.order-receiver-time {
  display: inline-block;
  width: 49%;
}

.order-receiver-time label {
  white-space: nowrap;
}

.create-order section {
  margin-bottom: 10px;
  padding: 15px;
}

.current-address p {
  margin: 0;
}

.fromWeChat {
  float: right;
  color: #619de5;
}

.time-wrap label {
  margin-right: 10px;
  display: inline-block;
  width: 110px;
  white-space: nowrap;
}

.order-server label {
  margin-left: 10px;
  white-space: nowrap;
}

.pick-all {
  display: flex;
  width: 20%;
  justify-content: center;
  align-items: center;
}

.pick-all input {
  margin-right: 5px;
}

.total-price {
  display: flex;
  width: 40%;
  align-items: center;
  color: #619de5;
  font-size: 16px;
  font-weight: bold;
}

.confirm-order .total-price {
  color: #ef473a;
  padding-left: 20px;
}

.data-pick {
  border: 1px solid #eee;
}

.confirm-order {
  bottom: 49px;
}

.order-cart-shop {
  position: relative;
}

.order-cart-shop label>div {
  height: 60px;
  margin-left: 3px;
}

.order-cart-shop .item {
  padding: 15px;
  border: none;
}

.order-cart-shop>.item-checkbox {
  border-bottom: solid 1px #ddd;
}

.cart-detail-img {
  width: 35px;
  height: 30px;
  border-radius: 10px;
}

.cart-shop-name {
  position: absolute;
  right: 80px;
  left: 80px;
  line-height: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.order-cart-shop .check-good {
  line-height: 60px;
}

.order-cart-shop .item-content {
  height: 100%;
  padding-left: 40px;
}


/*---------------------------------------
cart-detail*/

.order-cart-goods {
  padding: 5px 0 0 8px;
}

.order-cart-goods .item {
  position: relative;
  padding: 5px;
  border: none;
}

.order-cart-goods label>div {
  margin-left: 5px;
}

.order-cart-goods .item-content {
  padding-left: 60px;
}

.order-cart-goods .check-good {
  line-height: 35px;
}

.cart-goods-info {
  position: absolute;
  right: 80px;
  left: 70px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cart-goods-info p {
  font-size: 12px;
}

.cart-goods-name {
  font-weight: bold;
}

.cart-goods-action-wrap {
  margin-top: 12px;
}

.order-cart-action {
  position: absolute;
  top: 0;
  right: 0;
}

.order-cart-shop .calculate-money {
  position: absolute;
  right: 0;
  width: 80px;
}

.calculate-money .totalMoney {
  display: block;
  font-size: 16px;
  color: #619de5;
  font-weight: bold;
}

.calculate-money .sendPrice {
  font-size: 12px;
}


/*order-detail*/

.order-detail-table {
  width: 90%;
  margin: 15px;
}

.order-detail-table tr {
  margin: 5px 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.order-detail-name {
  padding: 2px 10px;
}

.order-detail-list-name {
  padding: 0 15px;
}

.order-detail-list .list {
  padding: 0 20px;
}

.order-detail-list img {
  margin: 0 20px 10px 0;
}

.order-total p {
  font-size: 18px;
  color: #fff;
  margin: 0;
  line-height: 65px;
  padding-left: 30px;
}

.not-reach,
.not-reach .item {
  background: #ddd !important;
}

.not-reach .sendStartPrice {
  font-weight: bold;
  color: #ef473a;
}

.not-reach .totalMoney {
  color: #666;
}

.go-cart,
.order-cart .confirm-cart {
  position: relative;
  right: 0;
  height: 100%;
  width: 40%;
  font-weight: bold;
  border-radius: 0;
  line-height: 40px;
  background: #619de5;
  color: #fff;
}

.shopping-cart-bar .go-cart {
  line-height: 42px;
  font-size: 18px;
  color: #fff;
  background: #619de5;
}

.disable-pay {
  background: #f2f7fa !important;
}
