.seller-detail{
	padding-top: 55px;
}

.seller-detail img{
    float: left;
	padding: 10px 30px;
}

.seller-detail .good-info-wrap li{
    float: left;     
    width: 19%;
    font-size: 12px;
   /*margin: 10px 30px 0 15px;*/
}
.seller-detail .good-info-wrap li:nth-child(3){
    border-right: 1px solid;
}
.seller-detail .good-info-wrap li:nth-child(even){
    padding-left: 4%;    
    width: 30%;
}

.seller-detail .slogen{
    font-size: 12px;
    color: #888;
    margin: 0 10px;
}
.seller-detail .name{
    font-size: 14px;
}

.seller-detail .index-list-item{
}
.seller-detail .item-content, .rank .item-content{
    width: 95%;
    margin: 0 auto 10px;
    border: 1px solid #ddd;
}
.seller-detail .item-content:first-child, .rank .item-content:first-child{
    margin-top: 10px;
}