a {
    text-decoration: none;
}

.v-content.scroll-content {
  display: table !important;
  width: 100% !important;
  height: 100% !important;
  background: #eee;
}

.v-content .scroll {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.marginM5 {
    margin-bottom: -7px;
}

.height100 {
    height: 100%;
}

.fl{
    float: left;
}
.fr{
    float: right;
}

.wide-as-needed {
  overflow: auto;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.h-li{
    display: inline-block;
}

.h-ul{
    display: inline-block;
}

.bottom-bar {
    position: absolute;
    bottom: 0px;
    width: 100%;
    z-index: 100;
    background: #fff;
}

.u-flyer {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    position: fixed;
    z-index: 9999;
    color: #ef473a;
}

.e-content {
    margin: 35px 0 65px 0;
}

.backE {
    background: #eee;
}

.index-header {
    position: absolute;
    width: 100%;
    height: 45px;
    padding: 0 2%;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.4);
    z-index: 100;
}

.index-header .item {
    float: left;
    padding: 0;
    height: 40px;
    border: none;
    background: transparent;
}

.index-header select {
    display: inline-block;
    left: 15px;
    right: inherit;
    padding: 0;
    background: transparent;
    color: #fff;
    font-weight: bold;
}

.index-header .back-wrap {
    position: absolute;
    height: 100%;
    width: 80px;
    color: #fff;
}

.index-header .back-wrap i {
    font-size: 20px;
    line-height: 40px;
    padding: 0 5px 0 15px;
}

.index-header .back-wrap span {
    font-size: 18px;
    line-height: 40px;
}

.index-header .guard {
    margin: 0;
    text-align: center;
    line-height: 40px;
    color: #fff;
}

.item-select:after {
    top: 52%;
}

.distract-select {
    width: 100px;
}

.header-icon {
    position: absolute;
    top: 0;
    right: 15px;
    line-height: 40px;
}

.header-icon i {
    color: #fff;
    font-size: 24px;
}

.header-icon.header-location{
    left: 15px;
    right: auto;
}

.index-slide {
    height: 220px;
    /*border-bottom: 10px solid #eee;*/
}

.index-slide img {
    width: 100%;
    height: 100%;
}

.index-slide .box {
    height: 100%;
}

.index-slide h1 {
    height: 100%;
    text-align: center;
    line-height: 90px;
}

.index-nav {
    height: 80px;
    padding: 12px 10% 0 10%;
    /*margin:4px 0; */
    background: #fff;
}

.icon-wrap {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 2px #CECBD1 solid;
    border-radius: 75px;
}

.icon-wrap i {
    display: inline-block;
    margin-top: 8px;
    font-size: 20px;
}

.index-nav>div {
    float: left;
    height: 40px;
    width: 49%;
    text-align: center;
    font-size: 16px;
}

.index-nav p {
    padding-top: 5px;
}

.index-nav a {
    color: #090909;
}

.fruit i {
    color: #F9C8FC;
}

.washing i {
    color: #EFDEFF;
}

.divider {
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #fff;
}

.divider:before,
.divider:after {
    content: '';
    position: absolute;
    left: 10px;
    width: 30%;
    height: 14px;
    border-bottom: 1px solid #000;
}

.divider:after {
    right: 10px;
    left: auto;
}

.index-list {
    background: #f0f0f0;
}

.index-list-item {
    position: relative;
    padding: 0;
    border: none;
}

.index-list-item .item-content {
    padding: 3px;
}

.index-list-item img {
    float: left;
    width: 90px;
    height: 60px;
    margin: 10px 10px 0 10px;
    vertical-align: top;
}

.index-list-item .name {
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.index-list-item .price {
    color: #EC7E39;
    font-size: 15px;
    text-align: left;
    text-indent: -3px;
}

.index-list-item .distance {}

.good-info-wrap{
    width: 85%;
}

.seller .good-info-wrap li {
    float: left;
    font-size: 12px;
    width: 25%;
    padding-right: 8%;
    /*margin: 10px 30px 0 15px;*/
}

.seller .good-info-wrap li:nth-child(3) {
    border-right: 1px solid;
}

.seller .good-info-wrap li:nth-child(even) {
    padding-left: 8%;
}

.seller .slogen {
    font-size: 12px;
    color: #888;
    margin: 0 10px;
}

.seller .name {
    font-size: 14px;
}

.seller .index-list-item {}

.seller .item-content,
.rank .item-content {
    width: 95%;
    margin: 0 auto 10px;
    border: 1px solid #ddd;
}

.single .list {
    white-space: nowrap;
    width: auto;
}

.single .index-list-item {
    display: inline-block;
    float: none;
    width: 115px;
    margin: 0;
    border: none;
    text-align: center;
}

.single img {
    display: block;
    float: none;
    margin: 0 auto;
}

.single .price {
    text-align: center;
}

.rank img {
    margin: 10px 20px 10px 10px;
}

.rank .name {
    margin: 0;
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
}

.rank .price {
    margin-top: 4px;
    font-size: 18px;
}

.list-cart {
    position: absolute;
    bottom: 10px;
    right: 20px;
    font-size: 35px;
}

p.cartNumber{
    position: absolute;
    top: -9px;
    right: -10px;
    background: red;
    color: #fff;
    width: 20px;
    text-align: center;
    height: 20px;
    font-weight: bold;
    line-height: 20px;
    border-radius: 20px;
}

.goods-list-item{
    width: 85%;
}

.goods-list-item .name  {
    font-size: 14px;
}

.goods-list-item .description{
    font-size: 12px;
}

/*goood detail*/

.good-img {
    height: 48%;
    overflow: auto;
}

.good-img img {
    width: 100%;
    min-height: 100%;
}

.good-main-info {
    position: relative;
    border: 2px solid #eee;
    background: #fff;
}

.good-main-info .good-name {
    background: #ccc;
    font-size: 18px;
    color: #000;
    padding: 5px 10px;
}

.good-main-info .good-descirbe {
    padding: 10px;
}

.good-main-info .good-price {
    height: 30px;
    font-size: 18px;
    line-height: 30px;
    margin: 10px;
    color: #ef473a;
}

.good-main-info .add-cart,
.good-main-info .add-cart-plus-minus {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 110px;
    height: 47px;
}

.add-cart-plus-minus {
    position: absolute;
    right: 5px;
    bottom: 5px;
}

.add-cart-plus-minus .cart-action,
.add-cart-plus-minus .cart-number {
    float: left;
    min-height: 5px;
    min-width: 5px;
    width: 30px;
    height: 30px;
    padding: 0;
    border-radius: 100px;
    text-align: center;
    line-height: 30px;
    background: #ef473a;
    color: #fff;
    font-weight: bold;
}

.add-cart-plus-minus .cart-number {
    background: #fff;
    color: #000;
    width: 30px;
    font-size: 20px;
}

.good-seller {
    margin: 5px 0;
    padding: 5px;
    background: #fff;
}

.good-seller div {
    float: left;
}

.good-seller p {
    clear: both;
    margin: 0;
}

.good-seller i {
    font-size: 30px;
}

.good-seller .shop-name {
    height: 40px;
    width: 40%;
    text-align: center;
    border-right: solid 1px;
}

.good-seller .shop-name {
    line-height: 30px;
}

.good-seller .shop-icon {
    padding: 0 10px;
}

.good-seller .shop-time {
    width: 40%;
    margin: 0 auto;
    text-align: center;
}

.good-more-info {
    /*padding: 20px;*/
}

.good-more-info img {
    width: 100%;
    height: auto;
}

.shopping-cart-bar {
    background: #222;
}

.shopping-cart-bar i {
    padding-left: 40px;
    font-size: 25px;
    line-height: 44px;
    color: #fff;
    vertical-align: middle;
}

.go-cart,
.order-cart .confirm-cart {
    position: relative;
    right: 0;
    height: 100%;
    width: 40%;
    font-weight: bold;
    border-radius: 0;
    line-height: 40px;
}

.shopping-cart-bar .go-cart{
    line-height: 42px;
    font-size: 18px;
}

.cart-number-tip {
    position: absolute;
    top: 0;
    left: 55px;
    width: 20px;
    height: 20px;
    background: #ef473a;
    border-radius: 50px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    overflow: hidden;
}


/*cart modal*/

.cart-modal {
    background: rgba(0, 0, 0, 0.7);
}

.cart-modal.ng-enter-active {
    transform: translateY(-45px);
}

.cart-modal-list {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background: #fff;
}

.cart-good-info{
    display: inline-block;
    max-width: 60%;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
}

.cart-price{
    display: inline-block;
    font-size: 12px;
}

.cart-operate{
    display: inline-block;
    float: right;
}

.cart-item{
    width: 100%;
    padding: 5px 0;
}

.cart-icon{
    display: inline-block;
    width: 25px;
    height: 25px;
    line-height: 23px;
    text-align: center;
    border: 2px solid;
    border-radius: 25px;
}

.cart-quantity{
    margin: 0 5px;
    font-size: 16px
}

/*order status*/

.order-status {
    text-align: center;
    background: #ef473a;
}

.order-status h1 {
    margin-top: 50%;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
}

.order-status a {
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    overflow: hidden;
    color: #fff;
    height: 40px;
}

.list-order-list .item-content{
    padding-right: 16px;
}
.list-seller{
   /* max-width: 100px;
    padding: 0 10px;*/
}
.h-list .index-list-item{
    display: inline-block;
    float: none;
    width: 115px;
    margin: 0;
    border: none;
}
