.has-detail-header {
  top: 150px;
}

.shopping-cart-bar-wash {
  background-color: #ef473a;
}

.shopping-cart-bar-wash .button {
  font-size: 20px;
  margin: 0;
  height: 44px;
  line-height: 44px;
  background: #619de5;
}

.wash-class {
  width: 20%;
  background: #eee;
}

.wash-single {
  width: 80%;
}

.wash-tag {
  text-align: center;
  padding: 5px 0;
}

.guard-order-button {
  text-align: right;
  margin-top: 10px;
}

.guard-order-button button {
  margin-left: 10px;
}
