.u-index
  .u-location
    position relative
    background #fff
    text-align center
    .u-icon-wrap
      position absolute
      top -45px
      left 50%
      -webkit-transform translate3d(-50%, 0, 0)
      height 50px
      overflow hidden
    .u-link
      display block
      width 100px
      height 100px
      border-radius 100px
      background #fff
      .u-icon
        width 20px
        padding-top 10px
    .u-text-wrap
      display block
      width 200px
      margin 0 auto
      padding 9px 0 12px 0
      font-size 16px
      background #fff
      .u-text
        background #d4efff
        border-radius 15px
        padding 6px 15px
        font-size 12px

  .u-icon-nav
    background #fff
    li
      float left
      width 25%
      text-align center
    img
      width 40px
      height 40px
      
.u-slider
  height 220px
  img
    width 100%
    
.fixed
  position fixed
  bottom 10px
  z-index 100
